<div class="footer-container px-lg-5 px-sm-2">
    <footer class="container d-flex flex-wrap justify-content-between align-items-center border-top border-success">
      <a class="col-md-4 mb-0 text-body-secondary nav-link" href="/">My Recovery Roads</a>
  
      <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
      </a>
  
      <ul class="nav col-md-4 justify-content-end">
        <li class="nav-item"><a href="/" class="nav-link px-2">Home</a></li>
        <li class="nav-item"><a href="/" class="nav-link px-2">Providers</a></li>
        <li class="nav-item"><a href="/" class="nav-link px-2">Detox</a></li>
        <li class="nav-item"><a href="/about/who-are-we" class="nav-link px-2">Sober Living</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2">Therapy</a></li>
        <li class="nav-item"><a href="/services/tech-services" class="nav-link px-2">Addiction Stories</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2">Get Help</a></li>
        
      </ul>
    </footer>
  </div>